/*BASE STYLES*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: #2B2B2B;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/*HEADER STYLES*/

.header-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding: 10px;
  height: 10vh;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login {
  display: none;
}

h1 {
  margin: 0;
  color: #ffffff;
}

.mobile-menu {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 20px;
}

.nav-menu {
  display: none;
}

/*MAIN STYLES*/

.main-container {
  padding: 10px;
  background: #f5f5f5;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  height: 400px;
  width: 100%;
  margin: 10px;
  box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.3);
}

.card-header {
  height: 20vh;
  width: 100%;
  color: #ffffff;
}

.corgi {
  background-image: url(assets/corgi-puppy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bernese {
  background-image: url(assets/bernese-puppy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lab {
  background-image: url(assets/lab-puppy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.samoyed {
  background-image: url(assets/samoyed-pup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dachsund {
  background-image: url(assets/dachshund-puppy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rottweiler {
  background-image: url(assets/rottweiler.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.golden {
  background-image: url(assets/golden-puppy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.setter {
  background-image: url(assets/irish-setter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
